@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sem serifa;
}

.cabecalho {
    background-color: #000880;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.cabecalho .logo {
    width: 65px;

}

.cabecalho .menu {
    background-color: red;
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;

    text-decoration: none;
}

.cabecalho nav li a:hover {
    background-color: #000880;

}